.app {
  margin: 0 auto;
  max-width: 1170px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.nav__logo {
  color: #323232;
  font-size: 30px;
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
}

.nav__items {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav__item a {
  margin-left: 20px;
  color: #000000;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
}

.container {
  max-width: 100%;
  min-height: 480px;
	background-color: #fff;
	position: relative;
	overflow: hidden;
}

.form-container {
  margin: 0 auto;
  max-width: 100%;
  min-height: 480px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.form {
  height: 100%;
  padding: 0 50px;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #FFFFFF;
  text-align: center;
}
    
.form--sign-in {
  width: 50%;
  left: 0;
}

.form--sign-up {
  width: 50%;
  left: 50%;
}

.form__title {
  margin: 0;
  font-weight: bold;
}

.form__text {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

.signed-in {
  text-align: center;
}

.form__input {
  width: 100%;
  margin: 8px 0;
  padding: 12px 15px;
	background-color: #EEE;
	border: none;
}

.form__link {
	margin: 15px 0;
  color: #333;
	font-size: 14px;
  text-decoration: none;
}

.btn {
  border-radius: 20px;
	border: 1px solid #2a3632;
	background-color: #2a3632;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
  cursor: pointer;
}

.btn:active {
	transform: scale(0.95);
}

.btn:focus {
	outline: none;
}

.btn--ghost {
	background-color: transparent;
  border-color: #FFFFFF;
  text-decoration: none;
}

.form-panel {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  background: #2a363b;
  background: -webkit-linear-gradient(to right, #2a3632, #2a363b);
  background: linear-gradient(to right, #2a3632, #2a363b);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #FFFFFF;
  text-align: center;
  overflow: hidden;
}

.form-panel--right {
  right: 0;
}

.form-panel--left {
  left: 0;
}